// Here you can add other styles


.sidebar{
    background-color: black;
    color: red;
}


.header{
    background-color: black;
}

.p-4{
    background-color: rgba($color: #FFBD73, $alpha: 1.0);
}

#loginDerecho{
    background-color: #F6EFBD !important;
}
#negro{
    color: black;
}

#buttomLogin{
    background-color: #A66E38;
    color: white;
    
}
